h2 {
    color: blueviolet;
}
.container {
  display: flex;
  justify-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #0f0f0f;
  }
  
  table th {
    background-color: #b91ace59;
    font-weight: bold;
  }
  
  table tr:nth-child(even) {
    background-color: #b655eec9;
  }
  
  table tr:hover {
    background-color: #c300ffdc;
  }

.card {
    box-shadow: 0 4px 8px 0 black;
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.5s;
    padding-bottom: 10px;
    padding-top: 10px;
}

.card:hover {
    box-shadow: 0 20px 30px 0 pink;
}

.user {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.user_designation {
    font-size: 20px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}
.toggle-btn {
    /* Default color */
    background-color: gray;
    color: white;
  }

  .toggle-btn:checked {
    background-color: blue;
  }