h2 {
    color: blueviolet;
}

table,
th,
td {
    border: 1px solid rgb(15, 15, 15);
    border-collapse: collapse;
}

th,
td {
    background-color: rgba(220, 9, 248, 0.432);
}

.card {
    box-shadow: 0 4px 8px 0 black;
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.5s;
    padding-bottom: 10px;
    padding-top: 10px;
}

.card:hover {
    box-shadow: 0 20px 30px 0 pink;
}

.user {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.user_designation {
    font-size: 20px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}
.toggle-btn {
    /* Default color */
    background-color: gray;
    color: white;
  }

  .toggle-btn:checked {
    background-color: blue;
  }